{% load static %}
<div class="row question">
    <div class="col-2">
        <img class="avatar-question" src="{% static "img/Crazy_Frog.jpg" %}">
    </div>
    <div class="col-10">
        <a class="nav-link active header-text" href="{% url "question" question.number %}">
            <h3>{{ question.title }}</h3>
        </a>
        <p>{{ question.text }}</p>
        <button class="like d-inline btn bt-lg btn-primary">Like</button>
        <a class="d-inline nav-link active" href="{% url "question" question.number %}"><u>answers</u></a>
        <label class="d-inline">Tags:</label>
        {% for tag in tags %}
            <a class="d-inline nav-link active" href="{% url "tag" tag.number %}">{{ tag.name }}</a>
        {% endfor %}
    </div>
</div>
